*{
    font-family: 'Jua', sans-serif;
}

section{
    width : 70%;
    margin-left: auto;
    margin-right:  auto;
}

.bar{
    height: 50px;
    width: 5px;
    background-color: #BBBBBB;
    border: 5px solid black;
    border-radius: 5px;
    margin-top: 5px;
    transition: 2s;
}

.bar1{
    background-color : red;
}

.bar2{
    background-color: orange;
}

.bar3{
    background-color: green;
}

.bar4{
    background-color: lightblue;
}

.container {
    margin-top: 20px;
  }

.author {
    padding: 20px;
    text-align: center;
    font-style: italic;
    color: lightseagreen;
}

  /*--------------------------------------------------------------
  # Table
  --------------------------------------------------------------*/
table {
    width:100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05),
  0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
    font-size: 14px;
}

th {
    color: #ffffff;
    background: #39a2fb;
    font-weight: 700;`
}

tr {
    background: #fff;
}

tr:hover {
    background: #f4f4f4;
}

td {
    word-wrap: break-word;
    border-bottom: 1px solid #ccc;
}